# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\DuLieuDaiHoc\NamThuBa\Системная и программная инженерия\Практика\Пр1\Pharmacy-MIREA\Pharmacy Store MIRE\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
